body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/Sem-Título-1.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#login {
  background-image: url("./images/Sem-Título-1.png");
  align-items: center;
  display: flex;
  font-family: Cambria , Cochin , Georgia , Times , serif;
  height: 100vh;
  justify-content: center;
}

#card_login {
  background-color: rgb(90, 195, 112);
  border-radius: 20px;
  padding: 60px;
  width: 200px;
  font-size: 22px;
}

.inputEmailSenha {
  margin-top: 1px;
  margin-bottom: 6px;
  padding: 8px 10px;
}

#buttonLogin {
  background-color: rgb(39, 189,181);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
}

.edit_remove {
  background-color: black;
  
}

#table {
  margin-top: 30px;
}

#tab {
  padding: 20px;
}

.tables {
  font-size: 25px;
  background-color: rgb(220, 202, 202);
  border: 1px solid black;
  padding: 1px;
}
